---
import Layout from "@/layouts/Layout.astro"

import { Content as MainText } from "@/data/index/index.mdx"
---

<Layout title="Бодрая Шаговая Несливная ВДА" description="">
	<main
		class="prose max-w-none prose-p:text-pretty prose-headings:text-balance prose-zinc xl:prose-xl prose-lg prose-blue prose-a:underline prose-a:underline-offset-4"
	>
		<MainText />
	</main>
</Layout>
