---
import Layout from "@/layouts/Layout.astro"

import { Content as MainText } from "@/data/index/index.mdx"
---

<Layout title="Бодрая Шаговая Несливная ВДА" description="">
	<main
		class="glass-card prose max-w-none prose-p:text-pretty prose-headings:text-balance prose-zinc xl:prose-xl prose-lg prose-a:text-blue-600 prose-a:underline prose-a:underline-offset-4 px-6 py-8 md:px-10"
	>
		<MainText />
	</main>
</Layout>
